/*
 * SpotifyWebApiLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.spotify.api.apis;

import com.spotify.api.ApiHelper;
import com.spotify.api.Server;
import com.spotify.api.exceptions.ApiException;
import com.spotify.api.exceptions.Forbidden1Exception;
import com.spotify.api.exceptions.TooManyRequests1Exception;
import com.spotify.api.exceptions.Unauthorized1Exception;
import com.spotify.api.http.request.HttpMethod;
import com.spotify.api.http.response.ApiResponse;
import com.spotify.api.models.AlbumObject;
import com.spotify.api.models.ManyAlbums;
import com.spotify.api.models.PagedAlbums;
import com.spotify.api.models.PagingSavedAlbumObject;
import com.spotify.api.models.PagingSimplifiedTrackObject;
import com.spotify.api.models.RemoveAlbumsRequest;
import com.spotify.api.models.SaveAlbumsRequest;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.List;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class AlbumsApi extends BaseApi {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public AlbumsApi(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Get Spotify catalog information for a single album.
     * @param  id  Required parameter:
     * @param  market  Optional parameter:
     * @return    Returns the AlbumObject wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<AlbumObject> getAnAlbum(
            final String id,
            final String market) throws ApiException, IOException {
        return prepareGetAnAlbumRequest(id, market).execute();
    }

    /**
     * Get Spotify catalog information for a single album.
     * @param  id  Required parameter:
     * @param  market  Optional parameter:
     * @return    Returns the AlbumObject wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<AlbumObject>> getAnAlbumAsync(
            final String id,
            final String market) {
        try {
            return prepareGetAnAlbumRequest(id, market).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for getAnAlbum.
     */
    private ApiCall<ApiResponse<AlbumObject>, ApiException> prepareGetAnAlbumRequest(
            final String id,
            final String market) {
        return new ApiCall.Builder<ApiResponse<AlbumObject>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/albums/{id}")
                        .queryParam(param -> param.key("market")
                                .value(market).isRequired(false))
                        .templateParam(param -> param.key("id").value(id)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("oauth_2_0"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, AlbumObject.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.",
                                (reason, context) -> new Unauthorized1Exception(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.",
                                (reason, context) -> new Forbidden1Exception(reason, context)))
                        .localErrorCase("429",
                                 ErrorCase.setReason("The app has exceeded its rate limits.",
                                (reason, context) -> new TooManyRequests1Exception(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Get Spotify catalog information for multiple albums identified by their Spotify IDs.
     * @param  ids  Required parameter:
     * @param  market  Optional parameter:
     * @return    Returns the ManyAlbums wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ManyAlbums> getMultipleAlbums(
            final String ids,
            final String market) throws ApiException, IOException {
        return prepareGetMultipleAlbumsRequest(ids, market).execute();
    }

    /**
     * Get Spotify catalog information for multiple albums identified by their Spotify IDs.
     * @param  ids  Required parameter:
     * @param  market  Optional parameter:
     * @return    Returns the ManyAlbums wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ManyAlbums>> getMultipleAlbumsAsync(
            final String ids,
            final String market) {
        try {
            return prepareGetMultipleAlbumsRequest(ids, market).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for getMultipleAlbums.
     */
    private ApiCall<ApiResponse<ManyAlbums>, ApiException> prepareGetMultipleAlbumsRequest(
            final String ids,
            final String market) {
        return new ApiCall.Builder<ApiResponse<ManyAlbums>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/albums")
                        .queryParam(param -> param.key("ids")
                                .value(ids))
                        .queryParam(param -> param.key("market")
                                .value(market).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("oauth_2_0"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ManyAlbums.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.",
                                (reason, context) -> new Unauthorized1Exception(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.",
                                (reason, context) -> new Forbidden1Exception(reason, context)))
                        .localErrorCase("429",
                                 ErrorCase.setReason("The app has exceeded its rate limits.",
                                (reason, context) -> new TooManyRequests1Exception(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Get Spotify catalog information about an album’s tracks. Optional parameters can be used to
     * limit the number of tracks returned.
     * @param  id  Required parameter:
     * @param  market  Optional parameter:
     * @param  limit  Optional parameter: Example: 20
     * @param  offset  Optional parameter: Example: 0
     * @return    Returns the PagingSimplifiedTrackObject wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<PagingSimplifiedTrackObject> getAnAlbumsTracks(
            final String id,
            final String market,
            final Integer limit,
            final Integer offset) throws ApiException, IOException {
        return prepareGetAnAlbumsTracksRequest(id, market, limit, offset).execute();
    }

    /**
     * Get Spotify catalog information about an album’s tracks. Optional parameters can be used to
     * limit the number of tracks returned.
     * @param  id  Required parameter:
     * @param  market  Optional parameter:
     * @param  limit  Optional parameter: Example: 20
     * @param  offset  Optional parameter: Example: 0
     * @return    Returns the PagingSimplifiedTrackObject wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<PagingSimplifiedTrackObject>> getAnAlbumsTracksAsync(
            final String id,
            final String market,
            final Integer limit,
            final Integer offset) {
        try {
            return prepareGetAnAlbumsTracksRequest(id, market, limit, offset).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for getAnAlbumsTracks.
     */
    private ApiCall<ApiResponse<PagingSimplifiedTrackObject>, ApiException> prepareGetAnAlbumsTracksRequest(
            final String id,
            final String market,
            final Integer limit,
            final Integer offset) {
        return new ApiCall.Builder<ApiResponse<PagingSimplifiedTrackObject>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/albums/{id}/tracks")
                        .queryParam(param -> param.key("market")
                                .value(market).isRequired(false))
                        .queryParam(param -> param.key("limit")
                                .value((limit != null) ? limit : 20).isRequired(false))
                        .queryParam(param -> param.key("offset")
                                .value((offset != null) ? offset : 0).isRequired(false))
                        .templateParam(param -> param.key("id").value(id)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("oauth_2_0"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, PagingSimplifiedTrackObject.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.",
                                (reason, context) -> new Unauthorized1Exception(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.",
                                (reason, context) -> new Forbidden1Exception(reason, context)))
                        .localErrorCase("429",
                                 ErrorCase.setReason("The app has exceeded its rate limits.",
                                (reason, context) -> new TooManyRequests1Exception(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Get a list of the albums saved in the current Spotify user's 'Your Music' library.
     * @param  limit  Optional parameter: Example: 20
     * @param  offset  Optional parameter: Example: 0
     * @param  market  Optional parameter:
     * @return    Returns the PagingSavedAlbumObject wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<PagingSavedAlbumObject> getUsersSavedAlbums(
            final Integer limit,
            final Integer offset,
            final String market) throws ApiException, IOException {
        return prepareGetUsersSavedAlbumsRequest(limit, offset, market).execute();
    }

    /**
     * Get a list of the albums saved in the current Spotify user's 'Your Music' library.
     * @param  limit  Optional parameter: Example: 20
     * @param  offset  Optional parameter: Example: 0
     * @param  market  Optional parameter:
     * @return    Returns the PagingSavedAlbumObject wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<PagingSavedAlbumObject>> getUsersSavedAlbumsAsync(
            final Integer limit,
            final Integer offset,
            final String market) {
        try {
            return prepareGetUsersSavedAlbumsRequest(limit, offset, market).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for getUsersSavedAlbums.
     */
    private ApiCall<ApiResponse<PagingSavedAlbumObject>, ApiException> prepareGetUsersSavedAlbumsRequest(
            final Integer limit,
            final Integer offset,
            final String market) {
        return new ApiCall.Builder<ApiResponse<PagingSavedAlbumObject>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/me/albums")
                        .queryParam(param -> param.key("limit")
                                .value((limit != null) ? limit : 20).isRequired(false))
                        .queryParam(param -> param.key("offset")
                                .value((offset != null) ? offset : 0).isRequired(false))
                        .queryParam(param -> param.key("market")
                                .value(market).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("oauth_2_0"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, PagingSavedAlbumObject.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.",
                                (reason, context) -> new Unauthorized1Exception(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.",
                                (reason, context) -> new Forbidden1Exception(reason, context)))
                        .localErrorCase("429",
                                 ErrorCase.setReason("The app has exceeded its rate limits.",
                                (reason, context) -> new TooManyRequests1Exception(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Save one or more albums to the current user's 'Your Music' library.
     * @param  ids  Required parameter:
     * @param  body  Optional parameter:
     * @return    Returns the Void wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<Void> saveAlbumsUser(
            final String ids,
            final SaveAlbumsRequest body) throws ApiException, IOException {
        return prepareSaveAlbumsUserRequest(ids, body).execute();
    }

    /**
     * Save one or more albums to the current user's 'Your Music' library.
     * @param  ids  Required parameter:
     * @param  body  Optional parameter:
     * @return    Returns the Void wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<Void>> saveAlbumsUserAsync(
            final String ids,
            final SaveAlbumsRequest body) {
        try {
            return prepareSaveAlbumsUserRequest(ids, body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for saveAlbumsUser.
     */
    private ApiCall<ApiResponse<Void>, ApiException> prepareSaveAlbumsUserRequest(
            final String ids,
            final SaveAlbumsRequest body) {
        return new ApiCall.Builder<ApiResponse<Void>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/me/albums")
                        .bodyParam(param -> param.value(body).isRequired(false))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .queryParam(param -> param.key("ids")
                                .value(ids))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .withAuth(auth -> auth
                                .add("oauth_2_0"))
                        .httpMethod(HttpMethod.PUT))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.",
                                (reason, context) -> new Unauthorized1Exception(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.",
                                (reason, context) -> new Forbidden1Exception(reason, context)))
                        .localErrorCase("429",
                                 ErrorCase.setReason("The app has exceeded its rate limits.",
                                (reason, context) -> new TooManyRequests1Exception(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Remove one or more albums from the current user's 'Your Music' library.
     * @param  ids  Required parameter:
     * @param  body  Optional parameter:
     * @return    Returns the Void wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<Void> removeAlbumsUser(
            final String ids,
            final RemoveAlbumsRequest body) throws ApiException, IOException {
        return prepareRemoveAlbumsUserRequest(ids, body).execute();
    }

    /**
     * Remove one or more albums from the current user's 'Your Music' library.
     * @param  ids  Required parameter:
     * @param  body  Optional parameter:
     * @return    Returns the Void wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<Void>> removeAlbumsUserAsync(
            final String ids,
            final RemoveAlbumsRequest body) {
        try {
            return prepareRemoveAlbumsUserRequest(ids, body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for removeAlbumsUser.
     */
    private ApiCall<ApiResponse<Void>, ApiException> prepareRemoveAlbumsUserRequest(
            final String ids,
            final RemoveAlbumsRequest body) {
        return new ApiCall.Builder<ApiResponse<Void>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/me/albums")
                        .bodyParam(param -> param.value(body).isRequired(false))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .queryParam(param -> param.key("ids")
                                .value(ids))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .withAuth(auth -> auth
                                .add("oauth_2_0"))
                        .httpMethod(HttpMethod.DELETE))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.",
                                (reason, context) -> new Unauthorized1Exception(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.",
                                (reason, context) -> new Forbidden1Exception(reason, context)))
                        .localErrorCase("429",
                                 ErrorCase.setReason("The app has exceeded its rate limits.",
                                (reason, context) -> new TooManyRequests1Exception(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Check if one or more albums is already saved in the current Spotify user's 'Your Music'
     * library.
     * @param  ids  Required parameter:
     * @return    Returns the List of Boolean wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<List<Boolean>> checkUsersSavedAlbums(
            final String ids) throws ApiException, IOException {
        return prepareCheckUsersSavedAlbumsRequest(ids).execute();
    }

    /**
     * Check if one or more albums is already saved in the current Spotify user's 'Your Music'
     * library.
     * @param  ids  Required parameter:
     * @return    Returns the List of Boolean wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<List<Boolean>>> checkUsersSavedAlbumsAsync(
            final String ids) {
        try {
            return prepareCheckUsersSavedAlbumsRequest(ids).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for checkUsersSavedAlbums.
     */
    private ApiCall<ApiResponse<List<Boolean>>, ApiException> prepareCheckUsersSavedAlbumsRequest(
            final String ids) {
        return new ApiCall.Builder<ApiResponse<List<Boolean>>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/me/albums/contains")
                        .queryParam(param -> param.key("ids")
                                .value(ids))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("oauth_2_0"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserializeArray(response,
                                        Boolean[].class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.",
                                (reason, context) -> new Unauthorized1Exception(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.",
                                (reason, context) -> new Forbidden1Exception(reason, context)))
                        .localErrorCase("429",
                                 ErrorCase.setReason("The app has exceeded its rate limits.",
                                (reason, context) -> new TooManyRequests1Exception(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Get a list of new album releases featured in Spotify (shown, for example, on a Spotify
     * player’s “Browse” tab).
     * @param  limit  Optional parameter: Example: 20
     * @param  offset  Optional parameter: Example: 0
     * @return    Returns the PagedAlbums wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<PagedAlbums> getNewReleases(
            final Integer limit,
            final Integer offset) throws ApiException, IOException {
        return prepareGetNewReleasesRequest(limit, offset).execute();
    }

    /**
     * Get a list of new album releases featured in Spotify (shown, for example, on a Spotify
     * player’s “Browse” tab).
     * @param  limit  Optional parameter: Example: 20
     * @param  offset  Optional parameter: Example: 0
     * @return    Returns the PagedAlbums wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<PagedAlbums>> getNewReleasesAsync(
            final Integer limit,
            final Integer offset) {
        try {
            return prepareGetNewReleasesRequest(limit, offset).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for getNewReleases.
     */
    private ApiCall<ApiResponse<PagedAlbums>, ApiException> prepareGetNewReleasesRequest(
            final Integer limit,
            final Integer offset) {
        return new ApiCall.Builder<ApiResponse<PagedAlbums>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/browse/new-releases")
                        .queryParam(param -> param.key("limit")
                                .value((limit != null) ? limit : 20).isRequired(false))
                        .queryParam(param -> param.key("offset")
                                .value((offset != null) ? offset : 0).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("oauth_2_0"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, PagedAlbums.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.",
                                (reason, context) -> new Unauthorized1Exception(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.",
                                (reason, context) -> new Forbidden1Exception(reason, context)))
                        .localErrorCase("429",
                                 ErrorCase.setReason("The app has exceeded its rate limits.",
                                (reason, context) -> new TooManyRequests1Exception(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}